.actionBox {
  right: 1%;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.actionButton {
  margin: 5px 0;
  text-align: left;
  display: block;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  min-width: 220px;
  background: white;
  border: 2px black solid;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.actionButton:hover {
  background: rgb(0, 174, 255);
  color: white;
  transform: translateX(-30px);
}

.actionButton:active {
  background: rgb(0, 75, 173);
  color: rgb(175, 175, 175);
  transform: translateX(-30px) scale(0.95);
}
