.divClicker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Grimlock {
  width: 35vw;
  height: 35vw;
  position: absolute;
  left: 20%;
  bottom: 0px;
  filter: brightness(1.8);
  z-index: -5;
}

.Bruticus {
  width: 50vw;
  height: 50vw;
  position: absolute;
  right: 20%;
  bottom: 0px;
  filter: brightness(0.5);
  z-index: -5;
}
