.answersDiv {
  display: block;
  position: relative;
  margin: 140px auto;
  text-align: center;
  background: black;
}

.answersMenu {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  position: relative;
  background: white;
  padding: 10px;
  border: 5px black solid;
  z-index: 5;
  outline: 2px white solid;
}

.answers {
  font-size: 25px;
  color: black;
  padding: 14px 10px 10px;
  background: white;
  border: 3px black solid;
  text-decoration: none;
  transition: all 0.3s;
  margin: 25px 13px 5px;
  cursor: pointer;
}

.answers:hover {
  background: rgb(0, 174, 255);
  color: white;
}

.answers:active {
  background: rgb(0, 75, 173);
  color: rgb(175, 175, 175);
  transform: scale(0.95);
}
