.board {
  display: block;
}

.Player {
  width: 480px;
  height: 480px;
  position: absolute;
  z-index: -5;
  left: 20%;
  bottom: 30px;
}

.Enemy {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -5;
  right: 20%;
  top: 50px;
}

.messageBox {
  position: absolute;
  max-width: 0;
  max-width: 650px;
  display: block;
  background: white;
  bottom: 30px;
  left: 370px;
  transition: all 0.3s;
}

.messageBox p {
  font-size: 2rem;
  font-weight: 600;
}

.waiting {
  cursor: progress;
}

/* animation classes */

.transform {
  animation: transformAnimation 1414.4ms steps(34) forwards;
}

@keyframes transformAnimation {
  100% {
    background-position-x: 100%;
  }
}

.calm {
  animation: calmAnimation 1414.4ms steps(34) infinite;
}

@keyframes calmAnimation {
  0% {
    background-position: 0px -480px;
  }
  100% {
    background-position: 100% -480px;
  }
}

.playerAppearanceAnim {
  animation: playerAppearanceAnim 1s linear;
}

@keyframes playerAppearanceAnim {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.enemyAppearanceAnim {
  animation: enemyAppearanceAnim 1s linear;
}

@keyframes enemyAppearanceAnim {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.attackPlayerAnim {
  animation: attackPlayerAnim 1s linear;
}

@keyframes attackPlayerAnim {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0);
  }
}

.attackEnemyAnim {
  animation: attackEnemyAnim 1s linear;
}

@keyframes attackEnemyAnim {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0);
  }
}

.damage {
  transition: all 0.15s;
  animation: damageMove 0.3s, damageAnimation 582.4ms steps(13) forwards;
}

@keyframes damageMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(30px);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes damageAnimation {
  0% {
    background-position: -5280px -960px;
  }
  100% {
    background-position: -11520px -960px;
  }
}

.miss {
  animation: missMove 1s linear, missAnimation 416ms steps(9) forwards;
}

@keyframes missMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes missAnimation {
  0% {
    background-position: 0px -960px;
  }
  100% {
    background-position: -4320px -960px;
  }
}

.pullFirstWeapon {
  animation: pullFirstWeaponAnimation 1206.4ms steps(29) forwards;
}

@keyframes pullFirstWeaponAnimation {
  0% {
    background-position: 0px -1440px;
  }
  100% {
    background-position: -13920px -1440px;
  }
}

.hideFirstWeapon {
  animation: hideFirstWeaponAnimation 1206.4ms steps(29) forwards;
}

@keyframes hideFirstWeaponAnimation {
  0% {
    background-position: -13920px -1440px;
  }
  100% {
    background-position: 0px -1440px;
  }
}

.attackFirstWeapon {
  animation: attackFirstWeaponAnimation 1206.4ms steps(29) forwards;
}

@keyframes attackFirstWeaponAnimation {
  0% {
    background-position: 0px -1920px;
  }
  100% {
    background-position: -13920px -1920px;
  }
}

.pullSecondWeapon {
  animation: pullSecondWeaponAnimation 1206.4ms steps(29) forwards;
}

@keyframes pullSecondWeaponAnimation {
  0% {
    background-position: 0px -2400px;
  }
  100% {
    background-position: -13920px -2400px;
  }
}

.hideSecondWeapon {
  animation: hideSecondWeaponAnimation 1206.4ms steps(29) forwards;
}

@keyframes hideSecondWeaponAnimation {
  0% {
    background-position: -13920px -2400px;
  }
  100% {
    background-position: 0px -2400px;
  }
}

.attackSecondWeapon {
  animation: attackSecondWeaponAnimation 1206.4ms steps(29) forwards;
}

@keyframes attackSecondWeaponAnimation {
  0% {
    background-position: 0px -2880px;
  }
  100% {
    background-position: -13920px -2880px;
  }
}
