body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

img,
.divImage {
  pointer-events: none;
}

button {
  font-size: 20px;
  font-weight: 600;
  width: auto;
  transition: all 0.3s;
  padding: 10px;
  background: white;
  border: 2px black solid;
  border-radius: 5px;
}

button:hover {
  background: rgb(0, 174, 255);
  color: white;
  transform: scale(1.1);
}

button:active {
  background: rgb(0, 75, 173);
  color: rgb(175, 175, 175);
  transform: scale(0.95);
}

.Zelda {
  width: auto;
  font-weight: 600;
  font-size: 40px;
  color: black;
  padding: 10px;
  background: white;
  border: 3px black solid;
  text-decoration: none;
  transition: all 0.3s;
}

.Zelda:hover {
  background: rgb(0, 174, 255);
  color: white;
  transform: scale(1.25);
}

.Zelda:active {
  background: rgb(0, 75, 173);
  color: rgb(175, 175, 175);
  transform: scale(0.95);
}

.mainDiv {
  display: flex;
  margin: 0;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}