.playerHP {
  left: 10px;
  bottom: 30px;
  border: black solid;
  border-width: 2px 0 2px 2px;
}
.playerHP:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  display: block;
  background: white;
  z-index: -1;
  outline: solid black 2px;
  transform: translateX(220px) skew(-20deg);
}
