.cybertron {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teletranScreen {
  margin: 15% auto;
  width: 30%;
  padding: 3% 0;
  background: radial-gradient(#a2d0ff, #007fff);
  border: 20px solid #dea60e;
  outline: 2px solid;
  border-radius: 10px;
  vertical-align: middle;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.buttonsContainer button {
  font-size: 250%;
  margin: 5% 0;
}
