.boardHP {
  position: absolute;
  min-width: 300px;
  display: block;
  background: white;
  cursor: help;
}

.boardHP h1 {
  display: flex;
  align-items: center;
  margin: 5px 0px 0 15px;
  font-weight: 700;
  font-size: 30px;
}

.lineHP {
  padding: 8px 0 2px;
  transition: all 2s ease-in-out;
}

.typeIcon {
  width: 40px;
}
