.hide {
  opacity: 0;
  visibility: hidden;
}

#Preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 666;
  transition: all 1s;
}
.loader {
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-top-color: blue;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: load 1s infinite linear;
}

@keyframes load {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
