.resultDiv {
  margin: 0 auto;
  text-align: center;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}



.resultMenuCase {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 40%;
  outline: 5px rgb(0, 0, 0) solid;
  z-index: 2;
  box-shadow: 0 0 10px 5px rgb(255, 255, 255, 0.2) inset;
  padding: 2%;
}

.resultMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: radial-gradient(#98b9ff, #266bff, #004df3);
  padding: 10px 0;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0) inset;
}

.resultMenu h1 {
  text-decoration: underline;
}


.resultBlock {
  margin: 10px 0;
  border: solid black;
  border-width: 2px 0 0;
}

.resultBlock p {
  font-size: 20px;
  font-weight: 600;
}

.resultButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0 10px;
}
